<div id="menu">
    <input type="checkbox" id="btn-menu">

    <label for="btn-menu"><img src="../assets/images/menu.png"></label>
    <nav class="main-nav">
        <ul>
            <img src="../assets/images/pngocean.com-id-zetbz.png">
            <li><a href="/home" class="">Home</a></li>
            <li><a href="#">Menu Page</a></li>
            <li><a href="/reservation">Reservation</a></li>
            <li><a href="#">Location & Contact</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="#">About</a></li>

        </ul>
    </nav>
</div>