<div class="footer">
    <div class="footer-body">
        <div class="column-info">
            <h1>Informacion de la empresa</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        </div>

        <div class="column-social">
            <h1>Redes Sociales</h1>
            <div class="row">
                <img src="../assets/images/facebook.png">
                <label>Siguenos en Facebook</label>
            </div>

            <div class="row">
                <img src="../assets/images/twitter.png">
                <label>Siguenos en Twitter</label>
            </div>

            <div class="row">
                <img src="../assets/images/instagram.png">
                <label>Siguenos en Instagram</label>
            </div>

        </div>

        <div class="column-about">

            <h1>Informacion Contactos</h1>

            <div class="row-info">
                <img src="../assets/images/restaurante-cubiertos-simbolo-circular-de-una-cuchara-y-un-tenedor-en-un-circulo.png">
                <label>Brenes, Sevilla. C/Foo nº20</label>
            </div>

            <div class="row-info">
                <img src="../assets/images/telefono-inteligente.png">
                <label>987213456</label>
            </div>

            <div class="row-info">
                <img src="../assets/images/email.png">
                <label>duckdonalds@info.com</label>
            </div>

        </div>

    </div>

</div>

<div class="footer-copy">
    <div class="copyright">
        © 2019 Todos los Derechos Reservados | Duckdonalds
    </div>
</div>