<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/lightbox.min.css">
    <link rel="stylesheet" href="https://i.icomoon.io/public/temp/0638d4f206/UntitledProject/style.css">
    <script src="../assets/js/lightbox-plus-jquery.min.js"></script>
</head>

<body>

    <header>
        {% include header.html %}
    </header>

    <section>
        {{ content }}
    </section>

    <footer>
        {% include footer.html %}
    </footer>
    
</body>

</html>